body {
  background-color: #393939;
  color: #c2c2c2;
  width: 1024px;
  margin-top: 3em;
  font-size: 1.5em;
  margin-left: 3em;
  display: table;
  margin: auto;
  font-family: "proxima-nova", helvetica, sans-serif;
}
a {
  color: #c2c2c2;
}
img {
  float: right;
  border: #898989 0.25em solid;
  border-radius: 0.5em;
}
.text {
  margin-top: 3em;
}
nav {
  margin-top: 1.5em;
}
nav li {
  display: inline;
}
nav li a {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border: 1px solid #c2c2c2;
  border-radius: 0.5em;
  text-decoration: none;
}
nav li a:hover {
  background-color: #c2c2c2;
  color: #393939;
}
nav li .search {
  border: 1px solid #c2c2c2;
  border-radius: 0.5em;
  margin-left: 0px;
}
nav li .search:hover {
  background-color: #c2c2c2;
  color: #393939;
}
.important {
  color: #898989;
}
.content {
  width: 441.3333333333333px;
}
.content li {
  list-style: none;
  display: inline;
}
li.search {
  float: right;
}
footer {
  clear: both;
  text-align: center;
  font-size: 0.5em;
}
