body{
				background-color: gray;
				color: white;
				width: 1024px;
				margin-top: 40px;
				font-size: 24px;
				margin-left: 40px;

			}
			a{
				color: white;
			}
			img{
				float: right;
				border: yellow 5px solid;
			}
			.text{
				margin-top: 40px;
			}
			.nav li{
				display: inline;

			}
			.nav li a{
				padding-left: 20px;
				padding-right: 20px;
				padding-bottom: 10px;
				padding-top: 10px;
				border: 1px solid white;
				border-radius: 10px;
				text-decoration: none;

			}
			.nav li a:hover{
				background-color: white;
				color: gray;

			}
			.nav li .search{
				border: 1px solid white;
				border-radius: 2px;
				margin-left: 0px;
			}
			.nav li .search:hover{
				background-color: white;
				color: gray;
			}
			.important{
				color: yellow;
			}
			.family{

			}
			.aboutme{
				border-bottom: 5px white solid;
				width: 400px;
			}
			.content{
				width: 400px;
			}